{% extends "./base/base.html" %}
{% block title %}CSS{% endblock %}


{% block style %}
{{ super() }}
     .concept-example{
        background-color: green;
        display:flex:
        flex-direction: row;
    }

    .code-boxe-container{
        display: flex;
    }

    .code-box {
        background-color: #282c34;
        color: #abb2bf;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 60%;
        max-width: 600px;
        overflow-x: auto; /* Enable horizontal scrolling for long lines */
    }

     .code-box-title{
        padding: .5rem 1rem;
        border: .1rem solid #abb2bf;
     }

     .code{
         padding: .5rem 1rem
      }

      .code-box code {
          font-family: monospace;
          font-size: .9rem;
          line-height: 1.5;
       }

{% endblock %}



{% block sidebar %}
    {% set lang_name = "CSS" %}
    {% set lang_concept_1 = "The Box Model" %}
    {% set lang_concept_2 = "The Cascade" %}
    {% set lang_concept_3 = "Inheritance" %}
    {% set lang_concept_4 = "Specificity" %}
    {% set lang_concept_5 = "Selectors" %}
    {% set lang_concept_6 = "Display Property" %}
    {% set concept6_link = url_for('css_display') %}
    {% set lang_concept_7 = "Positioning" %}
    {% include "./base/sidebar.html" %}
{% endblock %}

{% block menu %}
    {% include "main_menu.html" %}
{% endblock %}

{% block content %}
  <h1>CSS</h1>
    <ul>
        <li>stands for Cascading Style Sheets</li>
        <li>defines how HTML elements should be displayed on a web page</li>
        <li>controls aspects such as layout, typography, visuals and responsiveness</li>

    </ul>

    <h2>Fundamentals</h2>
        <p>CSS fundamentals encompass the core concepts and techniques required to effectively style web pages</p>

    <h2>Syntax</h2>
    <p>Understanding the structure of CSS rules, which consist of selectors, properties, and values.</p>
        <ul>
            <li><span>Selectors: various ways to target specific HTML elements for styling, including element type selectors, class selectors, and ID selectors</span></li>
            <li><span>Properties: styling properties such as colors, typography and dimensions</span></li>
            <li><span>Values:</span></li>
        </ul>


        <section class="concept-example-container">
        <div class="code-boxe-container" >
            <div class="code-box">
                <div class="code-box-title">CSS</div>
                <div class="code">
                    <code>
                        selector{<br>
                        &nbsp;&nbsp;property: value;<br>
                        }
                    </code>
                </div>
            </div>

        </div>
    </section>
{% endblock %}







