{% include "main_menu.html" %}
{% block style %}
<style>
.concept-menu {
  background-color: grey;
}

.concept-menu a.active, a.link:hover {
  background-color: #A02CDC;
  color: white;
}
</style>
{% endblock %}


{% block nav %}
<nav class="menu concept-menu" id="nav_menu">
  <a href="{{concept1_link}}" class="link active">{{concept1}}</a>
  <a href="{{concept2_link}}" class="link">{{concept2}}</a>
  <a href="{{concept3_link}}" class="link">{{concept3}}</a>
  <a href="{{concept4_link}}" class="link">{{concept4}}</a>
  <a href="{{concept5_link}}" class="link">{{concept5}}</a>
  <a href="{{concept6_link}}" class="link">{{concept6}}</a>
  <a href="{{concept7_link}}" class="link">{{concept7}}</a>
</nav>



{% endblock %}