.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Sidebar styles */
.sidebar {
  width: 12.5%;
  background-color: grey;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  color: #333;
  margin-bottom: 10px;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: underline;
}

/* Main content styles */
.main-dashboard-content {
    flex: 1;/* Take remaining space */
    padding: 2rem;
}