.logo-container {
  height: 70px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-logo-container {
  width: 7%;
}

.content-logo-container {
  width: 12.5%;
}

.logo-img {
  width: 5rem;
  height: auto;/* Maintain aspect ratio */
  padding: 0.5rem;
  object-fit: contain;/* Ensure the image fits within the container */
}
