@import url('./base.css');
@import url('./logo.css');
@import url('./main-menu.css');
@import url('./home.css');
@import url('./dashboard.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}