nav{
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav .home-li{
    margin-right: auto;
}

nav li{
    display: flex; 
}

nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: .5em 1em;
    transition: background-color 600ms ease;
}

nav a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    margin-top: -2px; 
}

nav a.active-link{
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: .5em; 
}