{% extends "base.html" %}

{% block main_nav %}
    <div class="main-nav">
        {% block logo %} 
            {% set page_class = "content-logo-container" %}
            {% include "logo-base.html" %} 
        {% endblock logo %} 

        {% include "main_menu.html" %}
    </div>
{% endblock main_nav %} 

{% block main_content_area %}
    {% block sidebar %}
        {# Define language-specific variables for the sidebar #}
        {% set lang_name = "CSS" %}
        {% set lang_concept_1 = "The Box Model" %}
        {% set lang_concept_2 = "The Cascade" %}
        {% set lang_concept_3 = "Inheritance" %}
        {% set lang_concept_4 = "Specificity" %}
        {% set lang_concept_5 = "Selectors" %}
        {% set lang_concept_6 = "Display Property" %}
        {% set concept6_link = url_for('css_display') %}
        {% set lang_concept_7 = "Positioning" %}
        {% include "sidebar.html" %}
    {% endblock sidebar %}

    {% block main_content %}
        <div class="intro">
            <h1>CSS</h1>
                <ul>
                    <li>stands for Cascading Style Sheets</li>
                    <li>is a style sheet language used for describing the presentation of a document written in HTML or XML</li>
                    <li>controls the layout, colors, fonts, and overall visual appearance of web pages</li>
                </ul>
                <h2>Fundamentals</h2>
                <p>CSS fundamentals encompass the core concepts and techniques required to effectively style web pages</
                <h2>Syntax</h2>
                <p>Understanding the structure of CSS rules, which consist of selectors, properties, and values.</p>
                <ul>
                    <li><span>Selectors: patterns used to select elements to apply styles to</span></li>
                    <li><span>Properties: attributes that define how elements should be styled</span></li>
                    <li><span>Values: specific settings assigned to properties</span></li>
                </ul>
        </div>

        
        <section class="concept-example-container">
            <div class="code-boxe-container">
                <div class="code-box">
                    <div class="code-box-title">CSS</div>
                    <div class="code">
                        <code>
                            selector {
                                property: value;
                            }
                        </code>
                    </div>
                </div>
            </div>
        </section>

    {% endblock main_content %}
{% endblock main_content_area %}