{% extends "./css/css_home.html" %}
{% block title %}CSS: Background{% endblock %}



{#  modify just one part of a Jinja template block while keeping the rest #}
{% block sidebar %}
    {{ super() | replace("static/images/fe-code-logo.png", "../../../static/images/fe-code-logo.png") }}
{% endblock %}



{% block menu %}
{####################CONCEPT MENU##############################################}

    {% set concept1 = "Block" %}
    {% set concept1_link = "#block-element" %}
    {% set concept2 = "Inline" %}
    {% set concept2_link = "#inline-element" %}
    {% set concept3 = "Inline-Block" %}
    {% set concept3_link = "#inline-block" %}
    {% set concept4 = "Flex" %}
    {% set concept4_link = "#flex" %}
    {% set concept5 = "Contents" %}
    {% set concept5_link = "#contents" %}
    {% set concept6 = "Grid" %}
    {% set concept6_link = "#grid" %}
    {% set concept7 = "None" %}
    {% set concept7_link = "#none" %}
    {% include "./base/lang_menu_base.html" %}
{% endblock %}






{% block content %}

<h2>CSS display Property</h2>
<h4>Every HTML element has a default display behavior and understanding the logic behind it is important when working with CSS</h4>
<p><span class="bold">Purpose:</span> controlling layout by showing, hiding, or positioning HTML elements</p>


{####################CONCEPT 1####################################################}
{% set concept_id = "block-element" %}
{% set concept_title = "Block-Level Elements" %}
{% set characteristic_list = [
    "always start on a new line",
    "take up the full available width of their parent container by default",
    "respect width, height, margin, and padding CSS properties on all four sides",
    "any HTML element, regardless of its default display type, can be made to behave as a block-level element"
] %}

{%
    set more_concept_info =
        "Many HTML elements, such as <div>, <p>, <header> and more have a default display value of block"
%}

{% set block_html = "<span>Hello, from CSS.</span>" %}
{% set block_css_element = "span" %}
{% set block_css_property = "display: block;" %}

{% set example_description = "Applying display: block;" %}
{% include "./base/concept_base.html" %}

{####################CONCEPT 2####################################################}
{% set concept_id = "inline-element" %}
{% set concept_title = "Inline Elements" %}
{% set characteristic_list = [
    "does not start on a new line",
    "only takes up as much width as necessary",
    "flows horizontally with other inline elements, elements sit next to each other on the same line",
    "does not allow setting explicit width or height",
    "vertical margins and padding are not respected by surrounding elements"
] %}

{%
    set more_concept_info =
        "Many HTML elements, such as <span>, <a>, <em> and more have a default display value of inline"
%}

{% set block_html = "<span>Hello, from CSS.</span>" %}
{% set block_css_element = "span" %}
{% set block_css_property = "display: block;" %}

{% set example_description = "Applying display: block;" %}

{% include "./base/concept_base.html" %}
{####################CONCEPT 3####################################################}
{% set concept_id = "inline-block" %}
{% set concept_title = "Inline-Block Elements" %}

{% include "./base/concept_base.html" %}
{####################CONCEPT 4####################################################}
{% set concept_id = "flex" %}
{% set concept_title = "Flex Elements" %}

{% include "./base/concept_base.html" %}
{####################CONCEPT 5####################################################}
{% set concept_id = "contents" %}
{% set concept_title = "Contents Elements" %}
{% include "./base/concept_base.html" %}
{####################CONCEPT 6####################################################}
{% set concept_id = "grid" %}
{% set concept_title = "Grid Elements" %}
{% include "./base/concept_base.html" %}
{####################CONCEPT 7####################################################}
{% set concept_id = "none" %}
{% set concept_title = "None Elements" %}
{% include "./base/concept_base.html" %}


{% endblock %}
