<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body>


<header class="main-nav">
    {% block main_nav %} 
    {% endblock main_nav %}
</header>


<div class="dashboard-container">
     {% block sidebar %}
     {% endblock sidebar %} 

    <main class="main-dashboard-content">
        {% block main_content %}
        {% endblock main_content %}
    </main>
</div>


  </body>
</html>
