{% extends "base.html" %}

{% block main_nav %}
    <div class="main-nav">
        {% block logo %} 
            {% set page_class = "content-logo-container" %}
            {% include "logo-base.html" %} 
        {% endblock logo %} 

        {% include "main_menu.html" %}
    </div>
{% endblock main_nav %} 

{% block main_content_area %}
    {% block sidebar %}
        {# Define language-specific variables for the sidebar #}
        {% set lang_name = "JavaScript" %}
        {% set lang_concept_1 = "Variables and Data Types" %}
        {% set lang_concept_2 = "Functions" %}
        {% set lang_concept_3 = "Control Structures" %}
        {% set lang_concept_4 = "Objects and Arrays" %}
        {% set lang_concept_5 = "DOM Manipulation" %}
        {% set lang_concept_6 = "Events" %}
        {#{% set concept6_link = url_for('js_events') %}#}
        {% set lang_concept_7 = "Asynchronous JavaScript" %}
        {% include "sidebar.html" %}
    {% endblock sidebar %}

    {% block main_content %}
        <div class="intro">
            <h1>JavaScript</h1>
                <ul>
                    <li>is a high-level, interpreted programming language</li>
                    <li>is a core technology of the World Wide Web, alongside HTML and CSS</li>
                    <li>enables interactive web pages and is an essential part of web applications</li> 
                </ul>
                <h2>Fundamentals</h2>   
                <p>JavaScript fundamentals encompass the core concepts and techniques required to effectively program using JavaScript</p>
                <h2>Syntax</h2>
                <p>Understanding the structure of JavaScript code, including statements, expressions, and functions.</p>
                <ul>
                    <li><span>Statements: instructions that perform actions</span></li>
                    <li><span>Expressions: combinations of values and operators that produce a value</span></li>
                    <li><span>Functions: reusable blocks of code that perform a specific task</span></li>
                </ul>
        </div>
        <section class="concept-example-container">
            <div class="code-boxe-container">
                <div class="code-box">
                    <div class="code-box-title">JavaScript</div>
                    <div class="code">
                        <code>
                            // This is a single-line comment
                            /* This is a 
                               multi-line comment */
                            function greet(name) {
                                console.log("Hello, " + name + "!");
                            }
                            greet("World");
                        </code>
                    </div>
                </div>
            </div>
        </section>
    {% endblock main_content %}
{% endblock main_content_area %}